In [2]:
daysOfWeek = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
weekendDays = daysOfWeek[5:]

weekendDays

('Saturday', 'Sunday')

In [ ]:
# , means a tuple 
isTuple = 'x', 'y', 'z'

# isTuple == tuple

isTuple

('x', 'y', 'z')

In [2]:
students = (
    ("Alice", [24, 82, 100], "turkish"),
    ("Alice", [34, 42, 60], "math"),
    ("Bob", [84, 92, 90], "turkish"),
    ("Bob", [44, 62, 70], "math")
    )

#so flexible to hold different data types
students[0][1][2]  #100

100

In [6]:
#unpacking tuples 

# must be 1 record !!
# name, scores, lesson = students.  #not works
name, scores, lesson = students[0]  #first record

name

'Alice'

In [1]:
# returning as tuple in functions are very useful
def computeOf(x):
    A = x ** 2
    P = 4 * x
    return (A, P)

xsquare, x4 = computeOf(5)

x4

20

In [ ]:
#cell-magic
%%timeit -n1 -r1