### iterators

- itertools groupby vs pandas groupby

In [7]:
from itertools import accumulate
from functools import reduce

l = [1, 2, 3, 4, 5]

accumulated_sum = accumulate(l) # default is sum
five_facttorial = accumulate(l, lambda x, y: x * y) 
six_factorial = reduce(lambda x, y: x * y, [1,2,3,4,5,6]) 
maximus = reduce(lambda x, y: x if x > y else y, [2,4,6,2,1,5])
accumulated_max = accumulate([2,4,6,2,1,5], max)


print(list(accumulated_sum))
print(list(five_facttorial))
print(six_factorial)
print(maximus)
print(list(accumulated_max))

[1, 3, 6, 10, 15]
[1, 2, 6, 24, 120]
720
6
[2, 4, 6, 6, 6, 6]

In [8]:
#groupby
#not as expected. but pandas groupby is much better
from itertools import groupby

#         item     type
data = [("apple",  "fruit"), 
        ("carrot",  "vegetable"), 
        ("banana",  "fruit"),
        ("spinach", "vegetable")] 

grouped_type = groupby(data, lambda x: x[1])

# list(grouped_type) #object of (key, v=group_iterator) #[('fruit', <itertools._grouper at 0x1111dd8d0>), ..]

#[('fruit', [('apple', 'fruit')])] -> k, v[0]=('apple', 'fruit') !!
# pay attention to the nested structure of groupby 

list((key, list(group)) for key, group in grouped_type)
#
# [('fruit', [('apple', 'fruit')]),
#  ('vegetable', [('carrot', 'vegetable')]),
#  ('fruit', [('banana', 'fruit')]),
#  ('vegetable', [('spinach', 'vegetable')])]

#list((key, len(list(group)[0])) for key, group in grouped_type)

[('fruit', [('apple', 'fruit')]),
 ('vegetable', [('carrot', 'vegetable')]),
 ('fruit', [('banana', 'fruit')]),
 ('vegetable', [('spinach', 'vegetable')])]

In [9]:
# nested structure demo
ll = [('fruit', [('apple', 'fruit')])]

tt = ('apple', 'fruit')

len(ll[0][1][0])

2

In [10]:
# nested structure comprehension demo
for k, v in grouped_type:
    print(k, list(v))

In [13]:
import pandas as pd

pd = pd.DataFrame(data, columns=['item', 'type'])

x = pd.groupby('type').count()

x

           item
type
fruit         2
vegetable     2

In [14]:
x.unstack()

      type
item  fruit        2
      vegetable    2
dtype: int64