In [2]:
import pandas as pd

In [3]:
# for dataproc on GCP, uncomment
#df = pd.read_csv("https://storage.googleapis.com/spark-dataset-1/datasets/ml-100k/u.data")

# for on your local, uncomment
df = pd.read_csv("../datasets/fake-friends/friends.txt")

# data structure
id | name | age | number

In [4]:
print(df.head())
#print(df[0:1])
#df.head(2)

   id  name  age  number
0   0   ali   36     100
1   1  veli   36     200
2   2  deli   46      10
3   3  zeli   46      20
4   4  elli   50      80

In [101]:
df = df.replace([50], [30])
# df.replace([50, 46], [30, 31])

In [102]:

df.loc[0:3, "id"]

0    0
1    1
2    2
3    3
Name: id, dtype: int64

In [103]:

df.loc[(df['age'] > 30)]

   id  name  age  number
0   0   ali   36     100
1   1  veli   36     200
2   2  deli   46      10
3   3  zeli   46      20

In [104]:
#locate age> 30 and number is 10 or 80
df.loc[(df['age'] > 30) & (df['number'].isin([10, 80]))]

   id  name  age  number
2   2  deli   46      10

In [105]:
df = df.rename(columns={"age": "theAge"})

In [106]:
df.to_csv("../datasets/fake-friends/friendsPandas.txt")

In [12]:
# for i,v in df.iterrows():
#     print(i, v)
#     print(i, list(v)) # easy to read

In [13]:
# df.loc[0:3, "user-id"]
# df.loc[0:3, ["user-id", "rating"]]