# Array

In [27]:
participants = ['ali', 'veli', 'deli']

In [28]:
# result is () tuple
# , means = tuple
participants, participants[1], len(participants)

(['ali', 'veli', 'deli'], 'veli', 3)

In [29]:
participants.append('zuheyla')


participants

['ali', 'veli', 'deli', 'zuheyla']

In [30]:
participants.extend(['ferman', 'derman', 'azman'])

participants

['ali', 'veli', 'deli', 'zuheyla', 'ferman', 'derman', 'azman']

In [32]:
participants[1:3]

['veli', 'deli']

In [40]:
index_of_ferman, count_of_ferman, capacity_of_participants = participants.index('ferman'), participants.count('ferman'), len(participants)

index_of_ferman, count_of_ferman, capacity_of_participants

(4, 1, 7)

In [41]:
participants.sort()

participants

['ali', 'azman', 'deli', 'derman', 'ferman', 'veli', 'zuheyla']

# tuple

In [47]:
data = ('ali', 'veli', 'deli', 'zuheyla', 'ferman', 'derman', 'azman')

data, type(data)

(('ali', 'veli', 'deli', 'zuheyla', 'ferman', 'derman', 'azman'), tuple)

In [ ]:
# tuple unpacking 
(age, years_of_school) = 30, 15

age

30

In [48]:
(age, years_of_school) = '30,15'.split(',')

In [49]:
age, print(age)

30

('30', None)

In [ ]:
# returning as tuple in functions are very useful
def computeOf(x):
    A = x ** 2
    P = 4 * x
    return (A, P)

xsquare, x4 = computeOf(5)

x4

20

# dictionary

In [59]:
# key, value 
dict = {'001':'cat',
        '002':'dog',
        '003':'donkey',
        '004':'monkey',
        '005':'ape'}

#[key] is used to access value
dict['003'], dict

('donkey',
 {'001': 'cat', '002': 'dog', '003': 'donkey', '004': 'monkey', '005': 'ape'})

In [61]:
dict['001'] = 'lazy animal'

dict

{'001': 'lazy animal',
 '002': 'dog',
 '003': 'donkey',
 '004': 'monkey',
 '005': 'ape'}

In [ ]:
employeesByDepartment = {'hr': 'ali',
                         'acc': ['hasan', 'huseyin']}

employeesByDepartment

{'hr': 'ali', 'acc': ['hasan', 'huseyin']}

In [70]:
# contains a list
employeesByDepartment['acc']

#employeesByDepartment['acc'][0]

['hasan', 'huseyin']

In [1]:
# a nother way to assign values
team = {}

team['1hxzYkt'] = 'mahmut'
team['1HxTYkt'] = 'selma'

team

{'1hxzYkt': 'mahmut', '1HxTYkt': 'selma'}

In [2]:
team.get('1hxzYkt')

'mahmut'

In [8]:
#tenary operator
#generators & comprehensions
square_dict = { x: x*x for x in range(6) }
square_set  = { x*x for x in range(6) }
square_list = [ x*x for x in range(6) ]
square_tuple= tuple( x*x for x in range(6) )    #lazy

square_dict, square_set, square_list, square_tuple

({0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25},
 {0, 1, 4, 9, 16, 25},
 [0, 1, 4, 9, 16, 25],
 (0, 1, 4, 9, 16, 25))